body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(128, 128, 128, 0.507);
  }

  * {
    box-sizing: border-box;
  }
  
  .textalign {
    text-align:center;
  }
  
  .navbar {
    overflow: hidden;
    background:linear-gradient(to top, #0d0d0e 25%, #464345 75%)
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #000000;
  }
  
  .navbar a.active {
    
    color: white;
    background:linear-gradient(to bottom, #0b91eb 25%, #420e3b 75%)
  }
  
  .navbar .icon {
    display: none;
  }
  @media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }

    .narbar a {float: left;}
    nav.content {margin-left: 0;}

    .navbarright
    {
    
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
     
      
    }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      text-align: center;
      float: none;
    }
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
.img {
    width:100%;
    height:auto;
    background-size: contain cover;
    margin:auto;
}

.header {
        width: auto;
        height:auto;
        text-align: center;
        text-shadow:2px 2px 2px rgba(221, 221, 221, 0.466);
        font-size: 25px;
        font-family:courier;
        padding:15px;
        margin-top: 1px;
        
        box-sizing: border-box;
        background:linear-gradient(to bottom, #0b91eb 35%, #420e3b 65%);
        color: rgb(255, 255, 255);
}

[class*="col-"] {
  width: 100%;
  float: left;  
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.tab {
  float: left;
  border: 1px solid rgb(8, 6, 6);
  background-color: #333;
  width: 30%;
  height: 195px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: #f2f2f2;
  padding: 22px 16px;
  border: none;
  width:100%;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-align:center;
}

.tab button:hover {
  background-color: #ddd;
  color: #000000;
}

.tab button.active {
  background:linear-gradient(to bottom, #0b91eb 35%, #420e3b 65%);
  color: #f2f2f2;;
}

.tabcontent {
  float: right;
  padding: 0px 12px;
  border: 5px solid rgb(3, 2, 2);
  width: 70%;
  height: fit-content;
  text-align:center;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  max-width:auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.slide{
   
    display: flex;
    justify-content: center;
    }

.align-right {
    text-align: right;
    border: 0;
    }

    .responsive-google-slides {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 Ratio */
      height: 0;
      overflow: hidden;
    }
    .responsive-google-slides iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }

